* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



:root {
  --primary-color: #f8f8f8;
  --secondary-color: #dce6ff;
  --main-color: #dfdaff;
  --color1: #05047e;
  --color2: #ff7be5;
  --black: #000;
  --color3: #dfdaff;
  --color4: #c2baf9;
}

.full-width-container {
  max-width: 100%;
  width: 100%;
  padding: 10px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0 -15px;
  gap: 2rem;
}

.col {
  flex: 1;
}

body,
a {
  font-family: "Erode", serif;
}

a {
  font-family: "Erode", serif;
  /* font-weight: 400 !important; */
  outline: none !important;
}

p {
  font-family: "Alpino", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Erode", serif;
  font-weight: 600 !important;
  letter-spacing: -0.03em;
}

.content-padding {
  padding: 80px 0;
}

/* header css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-content .logo img {
  width: 150px;
  height: auto;
}

.nav-content ul.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-content .list-items {
  list-style: none;
  margin-right: 1.5rem;
}

.nav-content .list-items .dropdown a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1.2rem;
}

.dropdown-nav .main-list {
  list-style: none;
}

.dropdown-nav {
  display: none;
}

button.cta-btn {
  border: none;
  outline: none;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: var(--color2);
  color: white;
  font-size: 1rem;
}

.home-btn:hover {
  background-color: #ffaeef;
  color: black;
}

.login a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

/* banner section */
.hero-banner {
  background: linear-gradient(to bottom, #fdc9f3, #ffffff);
}

.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600 !important;
  padding:20px 0;
  font-size: 72px;
  letter-spacing: 2px;
  line-height: 5.5rem;
}

p.summary {
  font-size: 30px !important;
  padding-bottom: 20px;
}

button.primary-btn {
  margin-top: 20px;
  background-color: var(--black);
}

button.primary-btn:hover {
  opacity: 0.8;
  color: white !important;
}

.card {
  display: flex;
  gap: 1rem;
}

.card-content {
  background-color: var(--color3);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

span.card-icon {
  font-size: 1.5rem;
  padding: 20px 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0;
}

.card-summary {
  font-size: 1.2rem;
  padding: 10px 0;
}

.card-content:hover {
  background-color: var(--color4);
}



.video {
  background: linear-gradient(to bottom, #ffffff, #f8f8f8);
}

.video-background {
  display: flex;
  justify-content: center;
}

.video-background video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  outline: none;
}

/* build section */
.build {
  background-color: var(--primary-color);
}

.build-img img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.main-build {
  background-color: white;
  padding: 30px;
  border-radius: 20px 20px 0 0;
}

.build-title {
  text-align: center;
  padding: 20px 0;
  font-size: 72px;
}

p.build-summary {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

h2.build-heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px ;
}
.main-build .summary {
  text-align: center;
}

.row.build-inner-content {
  padding-top: 30px;
  gap: 3rem;
}

.build-container {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1); /* top shadow only */
}

.build-single-content:first-child {
  border-bottom: 1px solid black;
}

.build-single-content {
  display: flex;
  gap: 2rem;
  margin:2rem 0;
  padding: 20px;
  align-items: baseline;
  cursor: pointer;
}

.build-desc {
 padding: 16px 0;
}

.build-icon i {
  font-size: 1.2rem;
}

.build-content-title {
  font-size: 1.5rem;
}

.build-single-content:not(:first-child):hover {
  color: rgb(207, 203, 203);
  transition: color 0.3s ease;
  
}

/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown menu */
.dropdown-nav {
  display: none;
  position: absolute;
  top: 130%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 4px 0px 0px #000000;
  width: 300px;
  list-style-type: none;
  padding: 10px 0;
  border-radius: 8px;
}

.dropdown-nav .main-list {
  padding: 8px 16px;
}

.dropdown-nav .main-list a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  display: block;
  position: relative;
}

.dropdown-nav .main-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}
    
/* Hover effect for dropdown items */
.dropdown-nav .main-list a:hover::after {
  width: 100%;
}

.dropdown-nav::before {
  content: "";
  width: 23px;
  background-image: url("/assets/download.svg");
  position: absolute;
  height: 30px;
  background-repeat: no-repeat;
  top: -10px;
  left: 50px;
}

/* Display dropdown on hover */
.list-items:hover .dropdown-nav {
  display: block;

}

.dropdown:first-child::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.list-items:hover .dropdown:first-child::after {
  transform: rotate(180deg);
  color: var(--color2);
}

.list-items .dropdown a:hover {
  color: var(--color2) !important;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 46px !important;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
}

/* image card section */
.img-card__image img {
  height: 400px;
  width: 280px;
  border-radius: 0px 8px 8px 8px;
}


.gallary-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.gallary-title {
  font-size: 35px;
}

.img-card-content {
  display: flex;
  justify-content: center;
  background-color: #483082;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;   
}

.img-card {
  padding:2rem;
}

.img-card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.img-card__desc {
  font-size: 1.2rem;
}

.text-section{
  background-color: #0c0d0e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500pxs;
}

.main-section-title {
  color: #ff7be5;
  text-align: center;
  padding: 4rem;
  font-size: 72px;
}

/* tools section  */

.tools{
 background-color: #f6f6f6;
}

h2.tools-title {
  font-size: 72px;
  text-align: center;
  padding: 70px 0;
}

img.tools-img {
  width: 100%;
  height: auto;
}

p.tools-content-desc {
  font-size: 1.2rem;
}

.tools-content {
  padding: 2rem;
}

h3.tools-content-title {
  font-size: 40px;
  margin-bottom: 20px;
}


/* productivity section */

.slider-section {
  background-color: #f6f6f6;
}

.slider-section-heading{
  font-size: 35px;
  padding: 20px 0;
}

.productivity-swiper{
  width: 100% !important;
  max-width: 1160px;
  position: relative;
}


.productivity-swiper .swiper-slide {
  padding: 20px 0;
}

.productivity-swiper .swiper-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 16px;
}

.productivity__title {
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
}

.productivity__desc {
  font-size: 18px;
  color: #555;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-nav-wrapper {
  position: absolute;
  top: 46px;
  right: 0px;
  z-index: 20;
  display: flex;
  gap: 2rem;
}

.swiper-button-prev {
  transform: translate(-117px, 0px);
  right: 0 !important;
  left: -23px  !important;
}

.swiper-button-prev, .swiper-button-next {
  border: 1.5px solid black;
  padding: 26px;
  border-radius: 50%;
  
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-color: #b2b2b2;
}

.swiper-button-next:hover i,
.swiper-button-prev:hover i {
  color: #b2b2b2;
}


.swiper-button-prev i,
.swiper-button-next i {
  color: black;
  font-size: 1rem;
}

/* scroll section  */

.scroll-section{
  background-color: #05047e;
}

.scroll-section-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-section-heading{
  font-size: 72px;
  color: white;
}

.scroll-card-section{
  display: flex;
  gap: 2rem;
  margin-top: 30px;
  
}

.scroll-card img{
  width: 380px;
  border-radius: 10px;
}

.scroll-footer-content h3{
  color: white;
  font-size: 35px;
  padding: 20px 0;
  text-align: center;
}

.scroll-footer-desc{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}


/* articles section */

h2.articles-heading {
  font-size: 35px;
  padding: 20px 0;
}

p.articles-desc {
  font-size: 1.5rem;
  margin-bottom: 20px;
}


.articles-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
  
}

.article-card {
  width:100%;
  height: auto;
  background-color: #dfdaff;
  border-radius: 10px;
  padding: 2rem;
  cursor: pointer;
 
}

h3.article-card-title {
  font-size: 1.5rem;
}

p.article-card-desc {
  font-size: 18px;
  padding: 20px 0;
}

.article-card-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-card-footer a{
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}

.article-card:hover{
  background-color: #ebe8ff;
}

.article-card-footer i{
  display: inline-block;
  transition: transform 0.3s ease;

}

.article-card:hover .article-card-footer i {
  transform: translateX(5px);
}

.article-card-icon i{
  margin-bottom: 1rem;
}


/* last section */
.last-section{
  background-color: #0c0d0e;
}

.last-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

.last-section-title{
  font-size: 72px;
  padding: 20px 0;

}

p.last-section-desc {
  padding-top: 30px;
}

.pink-text{
  color: #ff7be5;
}


/* count-down section */
.count-down {
  background-color: #f8f8f8;
}

.count-content-section{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.count-digit {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

.count-content-section p{
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
    margin-bottom: 20px;
  }

  .card {
    flex-direction: column;
  }
  .menu-icon {
    display: flex;
    margin-right: 20px;
  }

  .menu-icon .bar {
    width: 50px;
  }
  .nav-list {
    display: none !important;
    flex-direction: column;
    background-color: var(--color3);
    position: absolute;
    top: 60px;
    left: auto;
    width: 80%;
    padding: 20px;
    z-index: 1;
    /* color: white; */
  }

  .card {
    padding: 20px;
  }

  .nav-list.show {
    display: block !important;
  }

  .login,
  .cta-btn {
    display: none !important;
  }

  .container{
    overflow: hidden;
  }
}
